.karna1{
    background-color:lightblue;
    width: 100%;
    height: 0px;
    padding-bottom: 50%;
}
img{
    width: 50%;
}
.background-image {
    background-size: cover;
    background-position: center;
    height: 600px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 1cm;
}
.background-image h1{
    color: black;
}
.background-image h2{
    color: rgb(197, 225, 225);
    text-align: left;
    padding-right: 45%;
    padding-bottom: 40%;
    margin-left: 19px;
    
}


